Django==2.2.10
Flask==1.0.2
Flask-Compress==1.4.0
Jinja2==2.11.3
PyMySQL==0.8.1
dash==1.0.0a1
dash-core-components==1.0.0a4
dash-html-components==1.0.0a2
dash-renderer==1.0.0a2
dash-table-experiments==0.6.0
numpy==1.15.0
pandas==0.23.3
plotly==3.4.2