#h1home {
    z-index:100;
    color:white;
    text-align: center;
    font-weight: bold;
    font-style: arial;
    position:absolute;
    top:140px;
    left:100px;
}

blockquote {
    z-index:100;
    position:absolute;
    color:white;
    font-size:24px;
    font-weight:bold;
    left:100px;
    top:200px;
    width:500px;
}

h3{
    color: black;
    text-align: center;
    font-weight: bold;
    font-style: arial;
    margin-top: -50px;
}

blockquote p {
    color:black;
    text-align: center;
    font-weight: bold;
    font-style: arial;
    display: flex;
    align-items: center;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;

}

footer {
  z-index:100;
  bottom:10px;
  position: absolute;
  text-align: center;
  bottom: 0;
  font-weight: bold;
  width: 100%;
  color:white;
}

.navbar-inverse {
    background-color: black;
    border-color: #080808;
    min-height: 60px;
    font-size: 18px;
    margin-bottom: 0px;
}

.topright {
     width: auto;
     height: auto;
     position: absolute;
     right: 0px;
     z-index: -1;
     max-height: 72px;
     max-width: 250px;
     padding-right: 3px
}

.stadium {
    width: 100%;
    height: 93.9vh;
    background-position: center;
    overflow: hidden;
}

#h1stats {
    position: left;
}

.verticalLine {
    margin-left: 90px;
    width: 1px;
    height: 1100px;
    background: black;
}

#countries {
    font-weight: 200;
    font-size: 14px;
    line-height: 12px;
    margin: 0;
    padding: 8px;
    position: relative;
    display: inline-block;
    width:200px;
    vertical-align: middle;
}

#indi-teams {
    font-weight: 200;
    font-size: 14px;
    line-height: 12px;
    margin: 0;
    padding: 8px;
    position: relative;
    display: inline-block;
    width:200px;
    vertical-align: middle;
}

#win_pct_graph {
    margin-top:50px;
    position: relative;
    bottom: 45px;
}

#home_win_pct_graph {
    position: relative;
    bottom: 100px;
}

#loss_win_pct_graph {
    position: relative;
    bottom: 150px;
}

._dash-undo-redo {
  display: none;
}

#home{

}