._dash-undo-redo {
  display: none;
}

#h1home {
    z-index:100;
    color:white;
    text-align: center;
    font-weight: bold;
    font-style: arial;
    position:absolute;
    top:140px;
    left:100px;
}

blockquote {
    z-index:100;
    position:absolute;
    color:white;
    font-size:24px;
    font-weight:bold;
    left:100px;
    top:200px;
    width:500px;
}

h3{
    color: black;
    text-align: center;
    font-weight: bold;
    font-style: arial;
    margin-top: -50px;
}

blockquote p {
    color:black;
    text-align: center;
    font-weight: bold;
    font-style: arial;
    display: flex;
    align-items: center;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  overflow-x:hidden;
  font-family: Arial;
  background:#EEEEEE;
}

#home-footer {
  z-index:100;
  bottom:10px;
  position: absolute;
  text-align: center;
  bottom: 0;
  font-weight: bold;
  width: 100%;
  color:white;
}

.navbar-inverse {
    background-color: black;
    border-color: #080808;
    min-height: 60px;
    font-size: 18px;
    margin-bottom: 0px;
}

.topright {
     width: auto;
     height: auto;
     position: absolute;
     right: 0px;
     z-index: -1;
     max-height: 72px;
     max-width: 250px;
     padding-right: 3px
}

.stadium {
    width: 100%;
    height: 93.6vh;
    background-position: center;
    overflow: hidden;
}

#h4stats {
    margin-left: 30px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.verticalLine {
    margin-left: 40px;
    width: 1px;
    height: 1100px;
    background: black;
}

#countries {
    font-weight: 200;
    font-size: 14px;
    line-height: 12px;
    margin: 0;
    padding: 8px;
    position: relative;
    display: inline-block;
    width:200px;
    vertical-align: middle;
    left: 45px;
}

#indi-teams {
    font-weight: 200;
    font-size: 14px;
    line-height: 12px;
    margin: 0;
    padding: 8px;
    position: relative;
    display: inline-block;
    width:200px;
    vertical-align: middle;
    left: 45px;
}

#seasonlist {
    font-weight: 200;
    font-size: 14px;
    line-height: 12px;
    margin: 0;
    padding: 8px;
    position: relative;
    display: inline-block;
    width:200px;
    vertical-align: middle;
    left: 45px;
}

#divisions {
    font-weight: 200;
    font-size: 14px;
    line-height: 12px;
    margin: 0;
    padding: 8px;
    position: relative;
    display: inline-block;
    width:200px;
    vertical-align: middle;
    left: 45px;
}

#win_pct_graph {
    margin-top:65px;
    position: relative;
    bottom: 65px;
    color:black;
}

#home_win_pct_graph {
    margin-top: 25px;
    position: relative;
    bottom: 125px;
}

#loss_win_pct_graph {
    position: relative;
    bottom: 150px;
}

#perseason{
    position:relative;
}

#table-name{
    font-weight: bold;
    margin-left: 280px;
}

#win_pct_button{
    position:relative;
    left: 30px
}

#table-button{
    position:relative;
    left: 30px
}

.col-xs-2 left-panel:first-child {
  background-color: dark;
}

#test{
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: #E5E5E5;
    display: block;
    font-size: .8125rem;
    overflow: hidden;
    height: 1100px;
    position: relative;
    padding: 0 .9375rem .9375rem;
    margin-left: 30px;
    margin-top: 19px;

}

#tabs {
    margin-left: 125px;

}
*(
  box-sizing: border-box;
)

#test2{
    background:#f5f5f0;
}

#div-table{
    width:1000px;
    margin-left:220px;

}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

._dash-loading-callback {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  margin-top: -60px;
  margin-bottom: -60px;
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  background-colour: #ffffff;
  -webkit-animation: fadein 1s linear forwards, spin 2s infinite linear; /* Safari and Chrome */
  animation: fadein 1s linear forwards, spin 2s infinite linear;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}