h1 {
    color: black;
    text-align: center;
    font-weight: bold;
    font-style: arial;
    margin-bottom: -50px;
}
h3{
    color: black;
    text-align: center;
    font-weight: bold;
    font-style: arial;
    margin-top: -50px;
}

blockquote p {
    color:black;
    text-align: center;
    font-weight: bold;
    font-style: arial;
    display: flex;
    align-items: center;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  font-weight: bold;
  font-style: arial;
  width: 100%;
}
blockquote {
  font-family: arial;
  font-size: 18px;
  font-style: italic;
  width: 650px;
  margin: 3em auto !important;
  position: relative;
  color: #383838;
}